.main-strip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid gold; */
}

.home-img {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    width: 98.6vw;
    height: 636px;
    overflow: hidden;
    background-image: url('../images/MainHome.svg');
    /* background-size: 100% 100%; */
    /* border: 1px solid red; */
    background-size: cover;
}

.section {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    /* border: 1px solid gold; */
}

.home-section-strip {
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #474545;
    /* border: 1px solid gold; */
}

.education {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    /* background-color: magenta; */
}

.quotation-mark {
  font-style: serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 113px;
  margin: 2px;
  color: #ff8e3a;
  /* remember to come back and change to serif */
}

.bold-style {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.home-logos {
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}

.home-logo {
    height: 91px;
    width: 155px;
    /* border: 1px solid red; */
}

.hilton {
  background-image: url('../images/hilton.svg');
  background-size: cover;
}

.hilton-opera {
  background-image: url('../images/hiltonOpera.svg');
  background-size: cover;
}

.water-for-all {
  background-image: url('../images/waterForEveryone.svg');
  background-size: cover;
}

.Viet-Dan-travel {
  background-image: url('../images/VietDanTravel.svg');
  background-size: cover;
}


